.forecast-location {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    scroll-snap-align: start;
    background: #fff;
    border-radius: 1.2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding-inline: 1rem;
}


.location-header {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-text);
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #eee;
}